@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.MuiIconButton-root {
  color: inherit !important;
}

@keyframes opacity-and-width-close {
  0% {
    width: auto;
  }

  100% {
    width: 0;
    opacity: 0;
    display: hidden;
  }
}

@keyframes opacity-and-width-open {
  25% {
    opacity: 100;
  }

  100% {
    width: 42%;
  }
}

@layer base {
  html:has(.dark) {
    background-color: #27272a;
  }

  html {
    background-color: rgb(244 244 245);
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  *::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }

  html:has(.dark) *::-webkit-scrollbar-track {
    height: 10px;

    background-color: rgb(39 39 42);
  }

  *::-webkit-scrollbar-thumb {
    background-color: gray;

    border-radius: 100vh;
    height: 10px;
  }
}

@layer utilities {
  .app {
    display: grid;
    grid-template-rows: 14fr 1fr;
  }

  .zincbg {
    background: #212124;
  }

  .custom__bg {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 4%, 16%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(240, 6%, 27%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,)' fill='url(%23a)'/></svg>");
  }

  .closedSidebar {
    grid-template-columns: 60px auto;
  }

  .openSidebar {
    grid-template-columns: 1fr 5fr;
  }

  .openSearchbar {
    opacity: 1;
    width: 42%;
    transition: opacity 1s, width 1s ease 1s;
  }

  .closeSearchbar {
    width: 0;

    opacity: 0;
    transition: width 1s, opacity 1s ease 1s;
  }
  .overflow-overlay {
    overflow: overlay;
  }

  .chatInput__background:has(input:focus) {
    background-color: rgb(82 82 91);
  }
}
