@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.MuiIconButton-root {
  color: white !important;
}

@layer base {
  body {
    background-color: rgb(39 39 42);
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  *::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;

    height: 10px;
    background-color: rgb(39 39 42);
  }

  *::-webkit-scrollbar-thumb {
    background-color: gray;

    border-radius: 100vh;
    height: 10px;
  }
}

@layer utilities {
  .app {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 14fr 1fr;
  }

  .overflow-overlay {
    overflow: overlay;
  }
}
